/* https://github.com/quarto-dev/quarto-cli/blob/main/src/resources/formats/html/bootstrap/themes/darkly.scss */

/* This website makes it easy to test out SASS variables in themes::after
   https://bootstrap.build/themes */

/*
    Could also use sandstone as the base theme for dark mode,
    and use this scss file to make just a few tweaks.
    See here: https://bootswatch.com/sandstone
    It seems it's mostly a question of changing the background
    and text colors. The rest seems rather robust.
*/

/*-- scss:defaults --*/
$cyan:    #3498db !default;

/* For blocks of code */
/* $code-block-bg: rgba(67, 67, 67, 0.65) !default; */

/* For inline code */
$code-color: rgb(243, 199, 238) !default;
$code-bg: rgba(67, 67, 67, 0.65) !default; /* https://quarto.org/docs/output-formats/html-themes.html#inline-code */

/* https://quarto.org/docs/output-formats/html-themes.html#callouts */
$callout-color-note: $cyan !default;

$nav-tabs-border-radius: 0;
/* $nav-tabs-link-active-bg controls the bg color of active tabs in a tab-set,
   but I was unable to find the variable that controls this for inactive tabs.
   https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss */
.nav-tabs .nav-link {
    background-color: unset; // Inactive tab background color
}
